@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-avenir:var(--font-avenir);
  --font-mango:var(--font-mango)
}

* {
box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-avenir), var(--font-mango),sans-serif;
}

.nav-slider {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}
.nav-slider::-webkit-scrollbar {
  display: none; 
}


.nav-slider  {
  overflow-x: auto;
  scroll-behavior: smooth; 
   -webkit-overflow-scrolling: touch;
}


.text-overlay {
  clip-path: circle(0.1% at 0 100%);
}

.modal-visible {
  visibility: visible;
}

.modal-invisible {
  visibility: hidden;
}

