

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-avenir:var(--font-avenir);
  --font-mango:var(--font-mango)
}



* {
box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-avenir), var(--font-mango),sans-serif;
}

@theme {
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}


.nav-slider {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}
.nav-slider::-webkit-scrollbar {
  display: none; 
}


.nav-slider  {
  overflow-x: auto;
  scroll-behavior: smooth; 
   -webkit-overflow-scrolling: touch;
}


.text-overlay {
  clip-path: circle(0.1% at 0 100%);
}

.modal-visible {
  visibility: visible;
}

.modal-invisible {
  visibility: hidden;
}



.hero-gird {
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}


.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-placeholder {
  color: #ff0000;
  overflow: hidden;
  position: absolute;
  top: 15px;
  left: 15px;
  user-select: none;
  pointer-events: none;
}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}

.editor-input {
  min-height: 150px;
  padding: 1rem;
  border: 1px solid #ccc;
  outline: none;
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

.responsive-description * {
  all: revert;    
  font-family: 'Avenir', sans-serif !important;
  font-size: 1.125rem !important; 
  line-height: 1.6 !important;

}

[data-sonner-toast] {
  animation: slideInFromRight 0.3s ease-out !important;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* Add to your CSS */
.svg-morph-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1; /* Adjust as needed */
  min-height: 100px;
  min-width: 100px;
}

html, body, #__next {
  height: 100%;
  min-height: 100%;
  width: 100%;
}
